body{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.footer-top{
    background-color:#000000; 
    display: flex;
    color: #FFFFFF;
    justify-content: space-around;
}
.footer-bottom{
    background-color: #222222;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    padding:37px 0px;
    gap:30px;
    flex-wrap:wrap; 
}

.footer-bottom i{
    color: #FFFFFF;
}

.footer-top .footer-top-middle h4{
    font-family: 'Playfair Display';
    font-weight: 800;
    font-size: 24px;
    line-height: 120%;
}

.footer-top .footer-top-middle p{
    font-family: 'SF Pro';
    font-style: normal;
    font-weight:400;
    font-size: 14px;
    line-height: 120%;
    margin-top: -25px;
}
.footer-bottom .footer-bottom-list{
    display: flex;
    list-style-type: none; 
}

.footer-bottom .footer-bottom-list li{
    padding: 10px 50px;
    color: #FFFFFF;
}

button{
    position: absolute;
    background: #FFFFFF;
    top: 30px;
    width: 160px;
    height: 52px;
    right: 27px;
    border-radius: 8px;
}

button .btn{
    display: flex;
    justify-content: space-evenly;
}

.btn-text p{
    position: relative;
    top: -8px;
}

.btn-text h3{
    position: relative;
    top: -24px;
    right: 12px;
}


.footer-bottom .logos i{
    margin-left: 50px;
}


/* max width 378px */
@media only screen and (max-width: 378px) {
    .footer-top{
        display: none;
    }
    .footer-bottom .footer-bottom-list{
        flex-direction: column;
        text-align: center;
    }
    .footer-bottom .logos i{
        margin-left: 40px;
        margin-right: 30px;
    }
  }